@import 'color_defs';
@import 'breakpoints';

.grid-container {display: grid;
  grid-template-columns: 1fr 50% 1fr;
  // grid-column-gap: 32px;
  grid-template-rows: auto;
  grid-template-areas: 
    "margin-left center-block margin-right";
  @include marginthreshold {
    // background: red; // good to check the break point
    grid-template-columns: 100%;
    grid-template-areas: 
    "margin-left"
    "center-block"
    "margin-right";
  }
}
.margin-left {
  grid-area: "margin-left";
  justify-self: end;
  @include marginthreshold {
    justify-self: center;
  }
}
.chart {
  @include marginthreshold {
    width: 100%;
  }
}
.positions {
  transition: all 0.4s;
}

.margin-right {
  grid-area: margin-right;
  justify-self: start;
}
.center-block {
  // margin: 0 auto;
  // max-width: 740px;
  padding: 0 32px;
  background: $center-background-color;
  grid-area: "center-block";
}
.interface, .budget {
  padding: 32px;
  // width for budget??? 
}

.note {
  // position: relative;
  width: 70%;
  height: 0px;
  padding: 0 32px;
  font-size: 1.4rem;
  font-family: "Merriweather Sans", sans-serif;
  font-style: italic;
  color: $font-light-color;
}

.simple-flex {
  display: flex;
  justify-content: space-between;
}

.interface {
  margin-left: auto;
  width: 70%;
}
.border-top-with-note {
  border-top: 1px dashed rgba(0,0,0,0.4);
  // border-bottom: 1px dashed rgba(0,0,0,0.4);
}

.budget {
  margin-right: auto;
}

.low-opacity {
  opacity: 0.1;
}

.low-opacity:hover {
  opacity: 0.8;
}

.side-graph {
  position: absolute;
}

.spacer {
  height: 256px;
}
.spacer-sub {
  height: 128px;
}

.sidegraph-axis {
  opacity: 0.7;
}
.sidegraph-container,
.chart {
  width: 90%;
}

.sidegraph-container {
  padding: 0 32px;
  opacity: 0.2;
  transition: opacity 0.4s;
}
// hover: fade-in axis
.sidegraph-container:hover {
  opacity: 1;
}

.spot-number {
  text-align: center
}

