.scrollama-container {
 height: 100%;
}

.scrolling-over-container {
  // width: 85%;
  line-height: 2.5rem;
  width: 100%;
  margin: 0;
  @include sans;
  background: rgba(252,252,252,0.95)
}

.scrolling-over-content {
  padding: 52px;
}

.step1 {
  // width: 100%;
  margin-top: -86.5vh;
  margin-bottom: 65vh;
  // height: 50vh;
  // background: rgba(252,252,252,0.95)
}

.step2 {
  // margin-bottom: 0;
 }

.step2 {
  margin-bottom: 78vh;
}

.step3 {
  margin-bottom: 78vh;
}

.step4 {
  margin-bottom: 78vh;
}

.step5 {
  margin-bottom: 78vh;
  // TODO: fix this somehow!
  height: 40vh;
  // background: rgba(252,252,252,0.8)

}

.step6 {
  margin-bottom: 5vh;
}

.step7 {
  margin-bottom: 52vh;
}

.step8 {
  margin-bottom: 30vh;
}