.tooltip {
  width:200px;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0,0,0, 0.8);
  padding: 26px;
}

@media (min-width: 550px) {
  .tooltip {
   width: 360px;
  }
}
.more-stroke {
  stroke-width: 1;
}