@import 'color_defs';
@import 'breakpoints';

.grid-container {display: grid;
  grid-template-columns: 1fr 55% 1fr;
  // grid-column-gap: 32px;
  grid-template-rows: auto;
  grid-template-areas: 
    "margin-left center-block margin-right";
  @include marginthreshold {
    // background: red; // good to check the break point
    grid-template-columns: 100%;
    grid-template-areas: 
    "margin-left"
    "center-block"
    "margin-right";
  }
}
.margin-left {
  grid-area: "margin-left";
  justify-self: end;
  @include marginthreshold {
    justify-self: center;
  }
}
.chart {
  @include marginthreshold {
    width: 100%;
  }
}

.positions {
  transition: all 0.4s;
}

.margin-right {
  grid-area: margin-right;
  justify-self: start;
}
.center-block {
  // margin: 0 auto;
  // max-width: 740px;
  padding: 32px;
  background: $center-background-color;
  grid-area: "center-block";
}
.interface, .budget {
  padding: 32px;
  // width for budget??? 
}

.simple-flex {
  display: flex;
  justify-content: space-between;
}

.interface {
  margin-left: auto;
  width: 70%;
}
.border-top-with-note {
  border-top: 1px dashed rgba(0,0,0,0.4);
  // border-bottom: 1px dashed rgba(0,0,0,0.4);
}

.budget {
  margin-right: auto;
}

.low-opacity {
  opacity: 0.1;
}

.low-opacity:hover {
  opacity: 0.8;
}