.tooltip {
  width:200px;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0,0,0, 0.8);
  padding: 26px;
}

@media (min-width: 550px) {
  .tooltip {
   width: 360px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

div {
  transition: all 0.4s;
}

g, path {
  transition-property: all;
  transition-duration: 1s;
}

.more-stroke {
  stroke-width: 1;
}